<%= render "shared/nav"%>

<header class="bg-primary text-white">
  <div class="container text-center">
    <h1 id="titre">EGC-LABS</h1>
    <div class="col-lg-8 mx-auto">

      <p>EGC-Labs provide predictive information about sewage overflow and untreated sewage spills so government agency, municipalities, NGO and the general public can act accordingly. We also provide real-time information about occuring event when the information is available.</p>

      <p>We use a predictive approach instead of only real-time so we can warn the different actors of an overflow and untreated sewage spills before and when it’s happening. The insight we accumulate by getting first hand domain knowledge and the data we consolidated give us an edge.</p>
      
      <p>The insight we provide</p>

       </div>
  </div>
</header>


<section id="premap"">

  <h1 id="carte_text" class="text-white">INTERACTIVE MAP</h1>
  <h4 id="carte_text" class="text-white">MONTRÉAL</h4>

</section>

<section id="map" >
   <%= render "shared/map"%>
</section>


<!-- services -->
<%= render "shared/services" %>
<!-- /.services -->


<!-- propos -->
<%= render "shared/propos" %>
<!-- /.propos -->

<section id="next" class="text-white">
  <%= render "shared/next" %>
</section>

<section id="contact" class="text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 id="propos_text">RECEIVE OUR ALERTS</h2>
        <div class="col-sm-12">
          <br>
            <div class="single">
              <form action="#">

                <div class="form-group">
                  <input class="form-control" placeholder="Name" type="name">
                </div>
                <br>
                <div class="form-group">
                  <input class="form-control" placeholder="Email" type="email">
                </div>
                <button type="submit" class="btn btn-primary" style="float:right;">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<%= render "shared/footer"%>
<!-- /.Footer -->

 