<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>
    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">

    
  </head>

  <body id="page-top" style="font-family: 'Josefin Sans', sans-serif;">

    <%= render "shared/nav"%>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1 id="titre">ÉGOUT QUÉBEC</h1>
        <div class="col-lg-8 mx-auto">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           Fusce elementum euismod suscipit. Sed arcu turpis, rutrum ut felis et,
           vestibulum tincidunt odio. Fusce quis mollis quam, id ornare nunc. Curabitur
           metus purus, iaculis ut auctor sed, euismod a odio. Praesent orci urna, dictum
           eget purus ac, pellentesque ullamcorper nisl. Mauris id erat vitae enim faucibus congue.
            Morbi non pulvinar lectus, ac elementum ligula.</p>

            <p>Fusce auctor nulla non auctor malesuada. Interdum et malesuada fames
               ac ante ipsum primis in faucibus. Suspendisse nec magna augue. Praesent
               scelerisque orci et leo venenatis, sed faucibus diam semper. Proin ultrices.</p>

               <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Fusce elementum euismod suscipit. Sed arcu turpis, rutrum ut felis et,
                vestibulum tincidunt odio. Fusce quis mollis quam, id ornare nunc. Curabitur
                metus purus, iaculis ut auctor sed, euismod a odio. Praesent orci urna, dictum
                eget purus ac, pellentesque ullamcorper nisl. Mauris id erat vitae enim faucibus congue.
                 Morbi non pulvinar lectus, ac elementum ligula.</p>
           </div>
      </div>
    </header>


    <section id="premap" style="background-color: #686868 !important; padding-top: 20px;">
      <h1 id="carte_text" class="text-white" style="padding-top: 100px;">CARTE INTERACTIVE</h1>
    </section>

    <section id="map" class="text-white">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <div class="map">
                    <%= render "shared/map"%>
                </div>
      </div>
        </div>
    </section>

    <section id="services" class="text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 id="quoi_faire_text">QUE FAIRE EN CAS <br> DE DÉBORDEMENT?</h1>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
               Fusce elementum euismod suscipit. Sed arcu turpis, rutrum ut felis et,
               vestibulum tincidunt odio. Fusce quis mollis quam, id ornare nunc. Curabitur
               metus purus, iaculis ut auctor sed, euismod a odio. Praesent orci urna, dictum
               eget purus ac, pellentesque ullamcorper nisl. Mauris id erat vitae enim faucibus congue.
                Morbi non pulvinar lectus, ac elementum ligula.</p>

                <p>Fusce auctor nulla non auctor malesuada. Interdum et malesuada fames
                   ac ante ipsum primis in faucibus. Suspendisse nec magna augue. Praesent
                   scelerisque orci et leo venenatis, sed faucibus diam semper. Proin ultrices.</p>

                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce elementum euismod suscipit. Sed arcu turpis, rutrum ut felis et,
                    vestibulum tincidunt odio. Fusce quis mollis quam, id ornare nunc. Curabitur
                    metus purus, iaculis ut auctor sed, euismod a odio. Praesent orci urna, dictum
                    eget purus ac, pellentesque ullamcorper nisl. Mauris id erat vitae enim faucibus congue.
                     Morbi non pulvinar lectus, ac elementum ligula.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="propo" class="text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <h1 id="propos_text">À PROPOS</h1>
                <div class="column icone_img">
                    <%= link_to image_tag("icone1.png", alt: "Icone 1") %>
                    <h4 class="sous_titre">COMMENT ÇA FONCTIONNE?</h4>
                    <h5 class="sous_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum euismod suscipit. Sed</h5>
                </div>
                <div class="column icone_img">
                    <%= link_to image_tag("icone2.png", alt: "Icone 2") %>
                    <h4 class="sous_titre"s>DANS LA VILLE</h4>
                    <h5 class="sous_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum euismod suscipit. Sed</h5>
                </div>
                <div class="column icone_img">
                    <%= link_to image_tag("icone3.png", alt: "Icone 3") %>
                    <h4 class="sous_titre">NOS TECHNOLOGIES</h4>
                    <h5 class="sous_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum euismod suscipit. Sed</h5>
                </div>
          </div>
        </div>
      </div>
    </section>

    <section id="next" class="text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 id="propos_text">À VENIR</h2>
            <div class="column ville_img">
                <%= link_to image_tag("ville 1.png", alt: "ville 1") %>
                <h4 class="sous_ville">LAVAL</h4>
            </div>
            <div class="column ville_img">
                <%= link_to image_tag("ville 2.png", alt: "ville 2") %>
                <h4 class="sous_ville">TROIS-RIVIÈRES</h4>
            </div>
            <div class="column ville_img">
                <%= link_to image_tag("ville3.png", alt: "ville 3") %>
                <h4 class="sous_ville">QUÉBEC</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 id="propos_text">RECEVER NOS ALERTES</h2>
            <div class="col-sm-12">
              <br>
                <div class="single">
                <form action="index.html">
                <div class="input-group">
                       <input class="form-control" placeholder="Enter your email" type="email">
                       <span class="input-group-btn">
                          <button class="btn btn-theme" type="submit">Subscribe</button>
                       </span>
                 </form>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 text-white">
      <div class="container">
          <div class="row">
            <div class="col-6 col-md-4">
<p class="m-0 text-white" ">TOUT DROITS RÉSERVÉS &copy;</p>

            </div>
            <div class="col-10 col-md-8">
    <ul class="nav justify-content-end"">
      <li class="container col-lg-2"><%=image_tag("Footer/ETS.png", alt: "ets") %></li>
      <li class="container col-lg-1"><%=image_tag("Footer/cedille.png", alt: "cedille") %></li>
      <li class="container col-lg-1"><%=image_tag("Footer/hackqc.png", alt: "hackqc") %></li>
      <li class="container col-lg-2"><%=image_tag("Footer/montreal.png", alt: "montreal") %></li>
    </ul>    

            </div>
        </div>
  
                  
      </div>

      <!-- /.container -->
    </footer>

     

 <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>
   

  </body>

</html>
